body{
    background-color: #F9F5EB;
}
hr{
    border-style:none;
    border-top-style:dotted;
    border-width:7px;
    color:#E4DCCF;
    width:4%;
}
h1{
    
    color:#002B5B;
}
h3{
    background-color: #E4DCCF;
   
    color:#002B5B;
}
h2{
    background-color: #E4DCCF;
    color:#002B5B;
}